<h2 class="chapter-title">Abilities</h2>
<h3>Talents</h3>
<div class="chapter-item" *ngFor="let item of talents">
  <div class="chapter-item-name">{{item}}</div>
  <div>000000000</div>
</div>

<h3>Skills</h3>
<div class="chapter-item" *ngFor="let item of skills">
  <div class="chapter-item-name">{{item}}</div>
  <div>000000000</div>
</div>

<h3>Knowledges</h3>
<div class="chapter-item" *ngFor="let item of knowledges">
  <div class="chapter-item-name">{{item}}</div>
  <div>000000000</div>
</div>
